.projects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 24px;
  
}
.header__section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.projects-cards__container {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
  gap: 32px;
  justify-content: center;
  align-content: center;
}
.projects__cards_img {
  width: 284px;
  height: 284px;
  object-fit: cover;
  border-radius: 24px;
}
.cards__container {
  border: 1px solid hsla(var(--p-950-code), 0.1);
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05) skewX(-1deg);
  }
}
.projects-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
  background-color: var(--p-100);
  border-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.projects-card__title {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 24px;
  background-color: white;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  & h4 {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    color: var(--n-600);
    text-transform: uppercase;
  }
  & h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    color: var(--p-950);
    font-weight: 500;
    text-transform: capitalize;
    /* display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden; */
  }
}
