.skills__section {
  margin-top: -50px;
  margin-left: 150px;
  margin-right: 150px;
}
.skills__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}
.skills__grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(320px, auto));
  gap: 12px;
}
.skills__grid_item_header {
  & div {
    display: flex;
    gap: 12px;
  }
  & h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 600;
    text-transform: capitalize;
  }
  & p {
    margin-top: 8px;
    font-size: var(--p-font-size);
    color: var(--n-600);
    max-width: 60ch;
  }
}
.skills__grid_item {
  overflow: hidden;
  border: 2px solid var(--p-100);
  border-radius: 24px;
  background-color: var(--p-50);
  padding: 2rem;
  &:nth-child(2) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    & .icons-list-wrapper {
      overflow: hidden;
      margin-top: 12px;
      display: flex;
      gap: 8px;
      &:nth-child(1) > .icons-list{
        animation: move-left 30s linear infinite;
      }
      &:nth-child(2) > .icons-list{
        animation: move-right 60s linear infinite;
      }
    }
    & .icons-list {
      display: flex;
      gap: 24px;
      flex-shrink: 0;
      height: 4rem;
    }
    & .icons-badge:nth-child(even) {
      background: linear-gradient(to right, var(--p-300), var(--p-500));
      color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    & .icons-badge:nth-child(odd) {
      border: 1px solid hsla(var(--p-900-code),0.1);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .icons-badge {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 12px;
      padding: 4px 1rem;
      & img {
        height: 70%;
      }
    }
  }
  &:nth-child(3) {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .softSkills__container {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      gap: 12px;
      align-content: center;
      justify-content: center;
      margin-top: 8px;
      height: 100%;
      width: 100%;
      position: relative;
      
    }
    & .softSkills_badge {
      width: 244px;
      height: 36px;
      border: 1px solid var(--p-100);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 24px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: var(--caption-font-size);
      position: absolute;
      & p{
        background-clip: text;
      }
    }
    & .softSkills__icons {
      position: relative;
      width: 100%;
      height: 100%;

      & img {
        width: 40px;
        height: 40px;
        position: absolute;
        &:nth-child(1) {
          top: 20px;
          left: 50px;
          transform: scaleX(-1) translateY(5px);
        }
        &:nth-child(2) {
          top: 40%;
          left: 45%;
          transform: rotate(120deg);
        }
        &:nth-child(3){
          top: 10%;
          right: 20%;
        }
        &:nth-child(4){
          bottom: 20%;
          right: 5%;
          transform: scaleX(-1);
          transform: rotate(-40deg);
        }
      }
    }
  }
  &:nth-child(1) {
    background-image: url(../../assets/neko.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:nth-child(4){
    background-image: url(../../assets/remi.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  & span {
    text-transform: uppercase;
  }
}
.softSkills_badge:nth-child(1) { top: 20%; left: 10%; }
.softSkills_badge:nth-child(2) { bottom:10% ; left: 20%; }
.softSkills_badge:nth-child(3) { top: 25%; right: 20%; }
.softSkills_badge:nth-child(4) { bottom: 10%; right: 5%; }